<div class="container-fluid p-0" id="containerDeExperiencia">
    <section class="">
      <div class="container text-center p-0">
        <div class="container-fluid py-3"> 
          <div class="row align-items-center">
            <div class="col-11 text-start">
              <p class="m-0"><i class="fas fa-2x fa-briefcase"></i><span class="ps-3 subtAzul">Experience</span></p>
            </div>
            <div class="col-1 text-end p-0">
              <a><i role="button" class="bi bi-pencil-square"></i></a>
            </div>
          </div>
        </div>
        <div class=""> 
          <img class="p-0" src="../assets/EXPERIENCIA DE TRABAJO BIEN.jpg" width="100%"  alt="imagenSeccionEducacion">         
        </div>
        <div class="pt-sm-3">             
          <div class="card border-0">
            <div class="card-body row align-items-center">
              <div class="col-sm-4 px-5">
                <img id="jbLogo" class="img-fluid" src="../assets/JB LOGO.JPG" width="80%" alt="...">
              </div>
              <div class="col-sm-8 text-left" id="lineaEntreLogoYleyenda">
                <h4 class="card-title mx-sm-5 fs-2 text-sm-start subtAzul pt-3 pt-sm-0">Juan Barrios</h4><h5 class="mx-sm-5 text-start">Seguridad Elecrónica Profesional</h5>
                <p class="card-text mx-sm-5 fs-4 text-sm-start">acá tengo que poner algoooo sdefvasrdg dfrgvdafgbadrf. Data processing and management control.</p>
              </div>
            </div>
          </div>
          <div class="card border-0">
            <div class="card-body row align-items-center">
              <div class="col-sm-4 px-5">
                <img class="img-fluid" src="../assets/LI24LOGO.jpg" width="80%" alt="...">
              </div>
              <div class="col-sm-8 text-left" id="lineaEntreLogoYleyenda">
                <h4 class="card-title mx-sm-5 fs-2 text-sm-start subtAzul pt-3 pt-sm-0">Litoral 24 Seguridad</h4>
                <p class="card-text mx-sm-5 fs-4 text-sm-start">acá tengo que poner algoooo sdefvasrdg dfrgvdafgbadrf. Data processing and management control.</p>
              </div>
            </div>
          </div> 
        </div>              
      </div>
    </section>
</div><!--fin contenedorExperiencia -->