<div class="container-fluid" id="contenedorDeProyectos">
    <section class="py-5">
      <div class="container">
        <div class="container-fluid py-3 border-top border-dark"> 
          <div class="row align-items-center">
            <div class="col-11 text-start">
              <p class="m-0"><i class="fas fa-2x fa-gears"></i><span class="ps-3 subtAzul">Projects</span></p>
            </div>
            <div class="col-1 text-end p-0">
              <a><i role="button" class="bi bi-pencil-square"></i></a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 mb-4">
            <div class="card h-100">
              <img class="card-img-top" src="../assets/socialManager.jpg" alt="...">
              <div class="card-body">
                <h5 class="card-title">Project N°1</h5>
                <p>Made a social media manager template using HTML 5, CSS and JS only.</p>
                <a href="#" role="button">Visit site</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card h-100">
              <img class="card-img-top" src="../assets/simplePage.jpg" alt="...">
              <div class="card-body">
                <h5 class="card-title">Project N°2</h5>
                <p>Made a simple card page using HTML 5 and  CSS 3</p>
                <a href="#" role="button">Visit site</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card h-100">
              <img class="card-img-top" src="../assets/ipTracker.jpg" alt="...">
              <div class="card-body">
                <h5 class="card-title">Project N°3</h5>
                <p>Made an I.P address tracking website.</p>
                <a href="#" role="button">Visit site</a>
              </div>
            </div>
          </div>
          <div class="col-sm-8 text-left">
            <h4 class="card-title fs-2 text-start">Projects</h4>
            <p class="card-text fs-4 text-start">Siempre atento y agradecido a cualquier sujerencia, correccion o consejo constructivo.</p>              
          </div>              
        </div>
      </div>
    </section>
</div><!--fin contenedorDeProyectos-->