<div clas="img-fluid" id="bannerPrincipal">
    <div class="container-fluid p-0">
      <section id="estrcturaBienvenida" class="">
        <div class="container p-0">           
          <div class="">             
            <div class="">
              <div id="presentación" class="row m-0 ">
                <div class="col-sm-4">
                  <img id="imagenDeSergio" class="img-fluid rounded-5" src="../assets/web_130317_Barrios_0002.jpg" alt="...">
                </div>
                <div class="col-sm-8" id="textoBienvenida" >
                  <h1 id="tituloSergioBarrios" class="card-title text-start">{{miPortfolio.name}}</h1>
                  <p id="parrafoHello" class="card-text text-start">{{miPortfolio.parrafoHello}}</p>
                  <a id="letsWorckButton" class="btn btn-primary btn-outline-dark text-white rounded-3 px-4 " href="#" type="button">Let's work Together</a>
                </div>
              </div>
            </div>           
          </div>
        </div>  
      </section>
    </div>    
  </div><!--fin contenedorBannerInicio -->