<div class="container" id="containerAboutMe">
    <footer class="text-center text-lg-start text-balck">
      <div class="container pb-0">
        <section class="">
          <div class="row">
            <div class="col-md-6 col-lg-6 col-xl-8">
              <div id="leyendaAboutMeCompleta"  class="row">
                <h6 class="subtAzul">
                  About me...
                </h6>
                <p id="fontsparrafos">
                  Here you can use rows and columns to organize your footer
                  content. Lorem ipsum dolor sit amet, consectetur adipisicing
                  elit.
                </p>
              </div>  
            </div>
            
            <div id="navegacionEnPaginaTitulos" class="col-md-6 col-lg-6 col-xl-4">                  
              <p class="m-0"><i class="fas fa-2x fa-briefcase"></i><span class="ps-3 subtAzul">Experience</span></p>
              <p class="m-0"><i class="fas fa-2x fa-graduation-cap"></i><span class="ps-3 subtAzul">Education</span></p>
              <p class="m-0"><i class="fas fa-2x fa-signal"></i><span class="ps-3 subtAzul">Skills</span></p>
              <p class="m-0"><i class="fas fa-2x fa-gears"></i><span class="ps-3 subtAzul">Projects</span></p>
            </div>
          </div>
        </section>
      </div>
    </footer>
  </div><!--fin contenedorAboutMe-->