<div class="container-fluid p-0" id="contenedorEducacion">
    <div class="row m-0 border-top border-dark">
      <div class="col">
        <div class="container-fluid py-3"> 
          <div class="row align-items-center">
            <div class="col-11 text-start">
              <p class="m-0"><i class="fas fa-2x fa-graduation-cap"></i><span class="ps-3 subtAzul">Education</span></p>
            </div>
            <div class="col-1 text-end p-0">
              <a><i role="button" class="bi bi-pencil-square"></i></a>
            </div>
          </div>
        </div>
        <div class="row"> 
          <img class="p-0" src="../assets/FORMACION ACADEMICA 01.jpg" width="100%"  alt="imagenSeccionEducacion">         
        </div> 
        <div class="row pt-3">


          <div class="col-md-4" id="contenedorEnetN1">
            <div class="text-center">
              <img src="../assets/EET N1.jpg" class="img-fluid" width="60%" alt="...">
            </div>
            <div class="text-center">
              <p class="">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>                
          </div>


          <div class="col-md-4" id="econtenedorMumuki">
            <div class="text-center">
              <img src="../assets/MUMUKI LOGO.jpg" class="img-fluid" width="60%" alt="...">
              <div class="text-center">
                <p class="">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>


          <div class="col-md-4">
            <div class="text-center">
              <img src="../assets/ARG PROG LOGO.jpg" class="img-fluid my-4 rounded-5" width="60%" alt="...">
              <div class="text-center">
                <p class="">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>


        </div>            
      </div>
    </div>  
</div><!--fin contenedorEducacion-->