<div class="container-fluid" id="containerDeSkills">
    <section class="">
      <div class="container text-center">
        <div class="container-fluid py-3 border-top border-dark"> 
          <div class="row align-items-center">
            <div class="col-11 text-start">
              <p class="m-0"><i class="fas fa-2x fa-signal"></i><span class="ps-3 subtAzul">Skills</span></p>
            </div>
            <div class="col-1 text-end p-0">
              <a><i role="button" class="bi bi-pencil-square"></i></a>
            </div>
          </div>
        </div>
        <div class="">             
          <div class="card mb-3">
            <div class="card-body row align-items-center">
              <div class="col-sm-4">
              <img class="img-fluid" src="../assets/TEAM PLAYER ACTITUDE.jpg" height="" alt="...">
              </div>
              <div class="col-sm-8 text-left">
                <h4 class="card-title fs-2 text-start">Team Worcker</h4>
                <p class="card-text fs-4 text-start">Empatia, emotional inteligence, management control.</p>
              </div>
            </div>
          </div>
          <div class="card mb-3">
            <div class="card-body row align-items-center">
              <div class="col-sm-4">
              <img class="img-fluid" src="../assets/SOLVING SKILS.jpg" height="" alt="...">
              </div>
              <div class="col-sm-8 text-left">
                <h4 class="card-title fs-2 text-start">Growth Mindset</h4>
                <p class="card-text fs-4 text-start">Solving problem. researching. takeing desitions. adaptability.</p>
              </div>
            </div>
          </div>
          <div class="card mb-3">
            <div class="card-body row align-items-center">
              <div class="col-sm-4">
              <img class="img-fluid" src="../assets/webStack.jpg" height="" alt="...">
              </div>
              <div class="col-sm-8 text-left">
                <h4 class="card-title fs-2 text-start">Stak Tecnologies</h4>
                <p class="card-text fs-4 text-start"><b>Front End:</b> HTML, CSS, Bootstrap -<br>TypeScrypt, Angular (Javascript)<br>
                <b>Back End:</b> MySQL - Java, Spring Boot - Apache Tomcat.</p>
              </div>
            </div>
          </div>
        </div>
      </div>  
    </section>
</div><!--fin contenedorDeSkills-->