<div class="row sticky-top"><!--CONTENEDOR redes el el top-->
    <div class="col">
      <nav id="navegaciónTopConRedes" class="navbar navbar-expand-sm navbar-light">
      <div class="container-fluid p-0">
        <div class="d-flex align-items-center">
          <a class="navbar-brand has-logo" target="_blank" href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa"><img class="rounded" src="../assets/ArgentinaProgramaLogo.png" height="25" alt="Logo Argentina Programa"></a>
          <a target="_blank" href="https://www.argentina.gob.ar/produccion/argentina-programa/segunda-etapa"><img class="rounded" src="../assets/yoProgramo.jpg" height="15" alt="Logo de yo programo"></a>
        </div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-center">                   
                <li class="nav-item">
                  <a class="nav-link" href="#Whatsapp"><i class="bi bi-linkedin"></i></a>
                </li>             
                <li class="nav-item">
                  <a class="nav-link" href="#Whatsapp"><i class="bi bi-whatsapp"></i></a>
                </li>              
                <li class="nav-item">
                  <a class="nav-link" href="#Gmail"><i class="bi bi-envelope"></i></a>
                </li>              
                <li class="nav-item">
                  <a class="nav-link" href="/login">Login <i class="bi bi-box-arrow-in-right"></i></a>
                </li>
              </ul>
            </div>
        </div>
      </nav>
    </div>            
  </div><!--fin CONTENEDOR redes el el top--> 
